/* 
https://developer.mozilla.org/es/docs/Learn/CSS/Building_blocks/El_modelo_de_caja

Modelo de Caja: Es la forma en que CSS ve a los elementos HTML y ¿cómo los ve? como si fueran cajas con las siguientes propiedades:
  1. El contenido (content): El contenido (texto) del elemento HTML, tomando en cuanta sus dimensiones (width & height)
  2. El borde (border): Lo que delimita cada uno de los elementos HTML
  3. El relleno (padding): Son las distancias internas (La distancia del borde al contenido)
  3. El márgen (margin): Son las distancias externas (La distancia entre el elemento html y sus elementos hermanos o padres)

Dentro del modelo de caja hay que considerar que una caja tendrá 4 lados:
  1. Arriba (top)
  2. Derecha (right)
  3. Abajo (bottom)
  4. Izquierda (left)
*/

h1 {
    width: 400px;
    height: 200px;
    /* Propiedades de tipo shorthand */
    border-color: green;
    border-width: 3px;
    border-style: solid;
    border: 2px dashed blue;
}

.caja-uno,
.caja-dos {
    background-color: chocolate;
    border: medium solid orange;
    /* 
    Esto aplica para margin y padding

    1 valor = aplicar a los 4 lados
    
    2 valores = 
      primer valor es para los lados verticales (arriba-abajo)
      segundo valor es para los lados horizontales (izquierda-derecha)
    
    3 valores =
      primer valor es para top
      segundo valor es para los lados horizontales (izquierda-derecha)
      tercer valor es para bottom
    
    4 valores = 
      primer valor es para top
      segundo valor es para right
      tercer valor es para bottom
      cuarto valor es para left
    */
    padding: 20px;
    margin: 20px;
    padding: 20px 40px;
    margin: 40px 20px;
    padding: 0 40px 20px;
    margin: 50px 30px 0;
    padding: 0 40px 20px 50px;
    margin: 100px 50px 30px 0;
}

/********************  
Cajas de linea vs Cajas de bloque
********************/

/*
Caja de linea
  - Ocupan el espacio necesario para mostrar su contenido
  - No tienen dimensiones modificables (alto, ancho)
  - Permiten otros elementos a su lado
  - Padding y margin solo empujan a elementos adyacentes en horizontal, NUNCA EN VERTICAL

  Caja de bloque:
    - Ocupan todo el ancho disponible
    - Tienen dimensiones modificables (alto, ancho)
    - No permiten otros elementos a su lado (aunque especifiquen un ancho, siguen ocupando todo el espacio disponible a lo ancho generando saltos de linea)
*/

.caja-linea,
.caja-bloque {
  background-color: darkcyan;
  color: white;
  width: 500px;
  height: 250px;
  border: thin solid black;
  padding: 16px;
}

.caja-bloque {
  margin: 32px;
}

.caja-linea {
  margin: 48px;
}
/********************  
Propiedad Display

inline
block
inline-block -> Se comporta como un elemento de linea pero acepta modificar sus dimensiones (alto-ancho)
  none
  table
  list-item
  flex
  grid
********************/

.caja-none,
.caja-linea-bloque,
.caja-hidden {
  background-color: darkolivegreen;
  color: white;
  width: 600px;
  height: 300px;
  border: medium solid black;
}

.caja-linea-bloque {
  /* los elementos son de linea pero con propiedades de bloque */
  display: inline-block;
}

.caja-none {
  /* no visualiza el contenido pero igual se carga en la pagina */
  display: none;
}

/********************  
Propiedad visibility
********************/

.caja-hidden {
  /* es como llevar la opacidad a 0 */
  visibility: hidden;
}

/********************  
Propiedad overflow -> Se usa cuando se desvordan el contenido
********************/

.overflow {
  background-color: darkturquoise;
  width: 200px;
  height: 100px;
  overflow: visible;
  overflow: hidden;
  overflow: scroll;
  /* generara una barra de desplazamiento para el contenido */
  overflow: auto;
}

/********************  
Tamaño de caja
********************/

.box-sizing-content,
.box-sizing-border {
  background-color: deepskyblue;
  /* considera el tamaño desde el contenido */
  box-sizing: content-box;
  width: 500px;
  height: 250px;
  padding: 10px;
  border: thick solid black;
  /* width 500 + 10 + 10 + 5 + 5 = 530 */
  /* height 250 + 10 + 10 + 5 + 5 = 280 */
}

.box-sizing-border {
  /* considera el tamaño desde el borde */
  box-sizing: border-box;
}
.container-col-3 {
  background-color: burlywood;
  width: 600px;
  height: 300px;
  margin-top: 20px;
}

.container-col-3 > * {
  box-sizing: border-box;
  width: 200px;
  border: thin solid red;
  /* ya no se usa */
  float: left;
}

/* 
Aplicar border box a todo el contenido de la pagina por paul irish
Esto se coloca al inicio del documento css
*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/********************  
Propiedad float y clear
********************/

.container-floats {
  background-color: cornflowerblue;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix {
  clear: both;
}

/********************  
Colapso de margenes verticales
********************/

.margin-collapse {
  background-color: skyblue;
}

.margin-collapse section {
  border: thin solid black;
  /* no usar margin top y margin bottom al mismo tiempo, se usa solo margin top o margin bottom */
  margin-top: 16px;
  margin-bottom: 16px;
}

/* en los margenes horizontales no se produce el colapso */
.margin-collapse span {
  border: thin solid black;
  display: inline-block;
  margin-right: 16px;
  margin-left: 16px;
}

/********************  
Centrado de cajas
********************/

.sitio-web {
  border: thin solid black;
  background-color: thistle;
  width: 800px;
  height: 1000px;
  padding: 16px;
  /* centrar la caja */
  margin-left: auto;
  margin-right: auto;
}